@theme "catppuccin-mocha"

configuration{
    modi: "run,drun";
    font: "JetBrains Mono 10";
    icon-theme: "Oranchelo";
    show-icons: false;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " 󰏋  Apps ";
    display-run: "   Run ";
    display-window: "    Window";
    display-Network: " 󰤨  Network";
    sidebar-mode: true;
}

window {
  border: 2;
  border-color: #89B4FA;
}
