@import "shadcn.css";

* {
    --border-radius: 12px;
    font-family: JetBrains Mono NF, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
}

tooltip {
    background: @base;
    border: 1px solid @surface0;
    border-radius: var(--border-radius);
    padding: 6px 10px;
}

#workspaces button {
    padding: 5px 8px;
    color: @surface2;
    margin-right: 4px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

#workspaces button.active {
    color: @text;
    background: @surface0;
}

#workspaces button.focused {
    color: @base;
    background: @primary;
    border-radius: 8px;
}

#workspaces button.urgent {
    color: @base;
    background: @green;
    border-radius: 8px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#custom-gpu-usage,
#custom-gpu-temp,
#custom-rclone,
#window,
#clock,
#cpu,
#disk,
#memory,
#temperature,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: alpha(@base, 0.85);
    padding: 2px 14px;
    margin: 4px 0px;
    margin-top: 8px;
    border: 1px solid @surface0;
}

#tray {
    border-radius: var(--border-radius);
    margin-right: 10px;
}

#workspaces {
    background: alpha(@base, 0.85);
    border: 1px solid @surface0;
    border-radius: var(--border-radius);
    margin-left: 10px;
    padding: 0px 4px;
}

#custom-caffeine {
    color: @sky;
    border-radius: var(--border-radius) 0px 0px var(--border-radius);
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: @red;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: @subtext0;
    font-size: 13px;
    border: 1px solid @surface0;
    border-right: 0px;
}

#window {
    color: @subtext0;
    font-size: 13px;
    border-radius: var(--border-radius);
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @primary;
    border: 1px solid @surface0;
    border-radius: var(--border-radius);
    margin-left: 10px;
}

#cpu {
    color: @subtext0;
    font-size: 13px;
    border: 1px solid @surface0;
    border-radius: var(--border-radius) 0px 0px var(--border-radius);
    border-right: 0px;
    margin-right: 0px;
    margin-left: 10px;
}

#memory {
    color: @text;
    border: 1px solid @surface0;
    border-radius: var(--border-radius);
    margin-left: 10px;
}

#disk {
    color: @subtext0;
    font-size: 13px;
    border: 1px solid @surface0;
    border-radius: var(--border-radius);
    margin-right: 10px;
}

#temperature {
    color: @subtext0;
    font-size: 13px;
    border: 1px solid @surface0;
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    border-left: 0px;
    margin-left: 0px;
}

#network {
    color: @subtext0;
    font-size: 13px;
    border: 1px solid @surface0;
    border-radius: var(--border-radius);
    margin-right: 10px;
}

#pulseaudio {
    color: @text;
    border: 1px solid @surface0;
    border-radius: var(--border-radius) 0px 0px var(--border-radius);
    border-left: 0px;
    margin-right: 10px;
}

#pulseaudio.microphone {
    color: @mauve;
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    border-left: 0px;
    margin-right: 5px;
}

#battery {
    color: @green;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-gpu-usage {
    color: @subtext0;
    font-size: 13px;
    border: 1px solid @surface0;
    border-radius: var(--border-radius) 0px 0px var(--border-radius);
    border-right: 0px;
    margin-left: 10px;
}

#custom-gpu-temp {
    color: @subtext0;
    font-size: 13px;
    border: 1px solid @surface0;
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    border-left: 0px;
    margin-left: 0px;
}

#custom-rclone {
    color: @subtext0;
    font-size: 13px;
    border: 1px solid @surface0;
    border-radius: var(--border-radius);
    margin-right: 10px;
}

#custom-weather {
    border: 1px solid @surface0;
    border-radius: var(--border-radius);
    margin-right: 10px;
}
